/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width:600px) {

    #philosophy li, #objectives p{
        font-size:15px;
        color:purple;
        margin-bottom: 10px;
    }
    #philosophy span, #objectives span{
        color:red;
        margin-right:5px;
        font-weight: bold;
    }
    #play_your_part{
        position: absolute;
        color:white;
    }
    #logout_page h1{
        font-size:20px;
    }
    .italics{
        font-style:oblique;
        margin-right:10px;
        /* font-size:10px; */
    }
    #recycle{
        width:80%;
    }
    #logout_homepage{
        position:relative;
        top:-50px;
    }
    #logout_homepage a{
        /* margin-top: 40px; */
        color:white;
    }
    #bsc{
        /* color:red; */
        text-align: center;
        font-size:15px;
        font-weight:bold;
        text-decoration: underline;
    }
     main{
        display: flex;
        flex-wrap:wrap;
        width:95%;
        overflow: scroll;
        justify-content: center;
    }
    /* main h1{
        color:Red;
        background-color: blue;
        margin-right:0;
    } */

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .italics{
        font-style:oblique;
        margin-right:10px;
        /* font-size:10px; */
    }
    #AEESSUI{
        font-size: larger;
    }
    #aee_logo{
        max-height:80px;
    }
    #logo_word{
        top:61px;
        font-size: larger;
    }
    #hamburger{
        max-height: 20px;
    }
    #test li {
        margin-bottom:10px;
    }
    #sec_sign_in, #test #sign_in{
        display: flex;
        text-align: center;
        justify-content: center;
        /* background-color: red; */
    }
    #test #v_sign_in{
        display: flex;
        text-align: center;
        justify-content: center;
        /* background-color: red; */
        background-color:green;
    }
    #v_sign_in:hover{
        background-color:rgb(149, 191, 149);
    }
    #test #sign_in a{
        color:white;
    }
    #sec-test #sec_sign_in:hover, #test #sign_in:hover{
        background-color:rgb(208, 38, 38);
    }

    #test a{
        font-size: 20px;
    }
    #search{
        padding: 5px;
        height:20px;
        font-size:25px;
        margin-left:1px;
    }
    #search::placeholder{
        color:gray;
        font-size:25px;
    }
    #search:focus{
        width:90%;
        background-color: black;
        color:white;
        padding: 10px;
        font-size:30px;
    }
    #trivia{
        font-size:25px;
    }
    #trivia p{
        margin-top:5px;
        padding: 10px;
    }
    #environment{
        font-size:30px;
    }
    hr{
        width:50%;
    }
    .hr{
        font-size:27px;
    }
    #learn_more, #feature_archive{
        padding:5px;
        font-size:23px;
    }
    #the_vital_parts, #a_closer_look{
        margin-top:5px;
        font-size:25px;
    }
   .footer{
    margin-top: 220px;
   }
    .info p{
        /* color:red; */
        font-size: 30px;
    }
    #philosophy li, #objectives p{
        font-size:25px;
        color:purple;
        margin-bottom: 10px;
    }
    #philosophy span, #objectives span{
        color:red;
        margin-right:5px;
        font-weight: bold;
    }
    #bsc{
        /* color:red; */
        text-align: center;
        font-size:25px;
        font-weight:bold;
        text-decoration: underline;
    }
    .h3{
        font-size:30px;
    }
    footer #left{
        flex-basis:50%;
    }
    footer #right{
        flex-basis:40%;
    }
    #right a{
        border:5px solid transparent;
        font-size:20px;
    }
    #right a:hover{
        border:5px solid rgb(251, 250, 250);
    }
    .foot p{
        font-size:larger;
    }
    #form-field{
        margin-top:30px;
    }
    #name, #username, #password{
        font-size: larger;
    }
    #section input{
        height:30px;
        font-size: 25px;
    }
    #section input:focus{
        height:larger;
    }
    #section input::placeholder{
        font-size:20px;
    }
    .button{
        font-size:20px;
    }
    #base{
        margin-top:30px;
    }
    #sign_in_footer, #answer{
        font-size:30px;
    }
    #answer + input{
        height:20px;
        padding:5px;
        width:50%;
        font-size:25px;
    }
    #answer + input + input{
        font-size:30px;
        font-weight:bold;
    }
    #sign_in_footer form{
        position: relative;
        margin:10px 0px 10px;
    }
    #about_AEESSUI{
        /* margin-top:90px; */
        padding:10px;
        font-size:30px;
        border:1px solid green;
    }
    .contents #about_search, .contents #close {
        text-decoration: none;
        /* color:red; */
        font-size:30px;
    }
    div.fs-15{
        display: flex;
        margin-top: 50px;
        flex-basis: 100%;
        flex-wrap: wrap;
        text-align:center;
        justify-content: space-evenly;
        margin-bottom: 30px;
        border-top:2px solid black;
        padding-top:30px;
    }
    div.fs-15 a{
        padding:10px;
        text-align:center;
        border:3px solid transparent;
    }
    div.fs-15 a:hover{
        border:3px solid black;
    }
    div.fs-15 #about_left{
        margin-top:50px;
        flex-basis:40%;
        font-size: normal;
        font-size:30px;
    }
    /* div.fs-15 #about_left a{
        font-size:30px;
    } */
    div.fs-15 #about_right{
        flex-basis:50%;
        font-size:25px;
    }
    #elements{
        font-size:larger;
        border-top:2px solid black;
        padding-top:30px;
    }
    .sub-elements a:hover {
        font-size:25px;
    }
    h1.bb{
        font-size:40px;
    }
    .main{
        height:auto;
        /* overflow: auto; */
    }
    div.main p{
        font-size:25px;
    }
    #play_your_part{
        position: absolute;
        color:white;
    }
    #play_your_part span{
        font-style:oblique;
        margin-right:10px;
    }
    #recycle{
        width:80%;
    }
    #logout_homepage{
        position:relative;
        top:-80px;
    }
    #logout_homepage a{
        color:white;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
   #name{
    margin-top: 0px;
    font-size:50px;
    /* background-color: red; */
   }
   #AEESSUI{
    font-size:40px;
    }
    #aee_logo{
        max-height:200px;
    }
    #logo_word{
        top:160px;
        font-size:30px;
    }
    #hamburger{
        max-height: 50px;
    }
   #section{
    padding-top:200px;
   }
   #test a{ 
    font-size:30px;
    margin-bottom:5px;
   }
   #section form{
    margin-top: -70px;
    /* background-color: red; */
   }
   #section form p{
    font-size:50px;
    /* background-color: blue; */
    margin-top:20px;
    margin-bottom:-50px;
   }
   #section form input{
    padding:10px;
    font-size:50px;
    /* background-color: blue; */
   }
   #section form input:focus{
    height:50px;
    /* padding:10px;
    font-size:50px; */
    /* background-color: blue; */
   }
   #section form input::placeholder{
    /* padding:10px; */
    font-size:45px;
    /* background-color: blue; */
   }
   #section form a{
    padding:10px;
    font-size:45px;
    /* background-color: blue; */
   }
   .section:hover {
        /* padding: 5px 10px; */
        background-color: #bac5c3;
        border-radius: 10px;
    }
   #base{
    margin-top:10px;
   }
   #help_form input{
    /* background-color: red; */
    height:50px;
    font-size:40px;
    padding:5px;
   }
   #help_form input:focus{
    border:10px solid green;
    height:50px;
    font-size:40px;
    padding:5px;
   }
   .flex{
    font-size:20px;
   }
   .flex .section-cell a{
    font-size:30px;
   }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #AEESSUI{
        font-size:40px;
    }
    #aee_logo{
        max-height:200px;
    }
    #logo_word{
        top:160px;
        font-size:30px;
    }
    div.fs-15 a{
        font-size: 50px;
        padding:20px;
    }
    div.fs-15 #about_left{
        flex-basis:100%;
    }
    div.fs-15 #about_right{
        flex-basis:100%;
    }
    #elements{
        font-size:40px;
        border-top:2px solid black;
        padding-top:50px;
    }
    #sec_test #sec_sign_in{
        background-color: red;
    }
    .sub-elements a:hover {
        font-size:40px;
    }

    #sec-test li{
        margin-bottom:5px;
    }
    #answer + input{
        height:30px;
        padding:5px;
        width:50%;
        font-size:30px;
    }
    #answer + input + input{
        display:inline;
        width:10%;
        height:auto;
        padding:5px;
        font-size:30px;
        font-weight:bold;
    }
    #sub-content{
        width:75%;
    }
    .footer{
        margin-top:360px;
    }
}

@media only screen and (min-width:3000px) {
    #logo_word{
        margin-top:18px;
        /* color:red; */
        font-size:39px;
    }
    #sec-test li a{
        /* color:red; */
        font-size:40px;
    }
    #the_vital_parts{
        font-size:50px;
    }
    #a_closer_look{
        font-size: 60px;
    }
    /* #sec-test li{
        margin-bottom:50px;
    } */
    #environment{
        font-size:40px;
    }
    .hr{
        /* color:Red; */
        font-size:40px;
    }
    #learn_more, #feature_archive{
        /* color:red; */
        font-size:larger;
    }
    #philosophy li, #objectives p{
        font-size:30px;
        /* color:red; */
    }
    .info p{
        /* color:red; */
        font-size: larger;
    }
    #sub-content{
        width:35%;
    }
    .back-to-top a{
        padding:50px;
    }
    #search{
        /* background-color:Red; */
        height:80px;
        font-size:50px;
        margin-left:10px;
    }
    #search::placeholder{
        font-size:50px;
    }
    #search:focus{
        font-size:60px;
    }
}





