/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width:600px) {
    /* red */
    body{
        background-color:aliceblue;
    }
    body{
        margin:0% 10% auto 10%;
        /* height:20%; */
        /* overflow: hidden; */
    }
    #scroll-div{
        background-color:none;
        height:400px;
        overflow: scroll;
        width:100%;
        border-bottom: 2px solid green;
    }
    #test li{
        margin-bottom:20px;
    }
    #options{
        position: sticky;
        display: inline;
        height:auto;
        padding:3px;
        z-index:4;
        margin-left:45%;
        top:10px;
        margin-top:20px;
        /* background-color:blue; */
    }
    #options p{
        height:10px;
        width:10px;
        background-color: red;
        display: inline;
        margin-left:45%;
        margin:0px 5px;
        overflow: auto;
        border-radius: 50%;
    }
    
    #options a{
        background-color:gray;
        /* position: relative; */
        margin:0;
        padding:0;
        color:transparent;
        cursor: pointer;
    }
    #form-field{
        position:relative;
        margin:10%;
        /* background-color:red; */
        text-align: center;
        padding: 0px;
        display:flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height:300px;
    }
    
    #form-field img{
        width:100%;
        height:300px;
        position: absolute;
        opacity:0.1;
    }
    #section{
        background-color:none;
        text-align: center;
        padding: 10px;
        position:relative;
        overflow: hidden;
    }

    #section p, #section form{
        text-align:center;
        /* color:green; */
    }
    #name{
        font-family:'Courier New', Courier, monospace;
        font-weight: 900;
        color:black;
    }
    
    /* form{
       background-color: red;
    } */
    
    form input{
        width:100%;
        border:1px solid blue;
        margin-bottom: 20px;
    }
    #submit{
        display:none;
    }
    
    #section form p{
        padding: 0px;
        margin: 0px;
    }
    
    .button{
        background-color: green; 
        padding:5px 10px;
        border-radius:10px;
        color:whitesmoke;
        border:1px solid black;
        cursor: pointer;
    }
    #logout{
        background-color: rgb(243, 7, 7);
        padding:5px 10px;
        margin-left:10px;
        text-align: center;
        border:1px solid black;
        color:white;
    }

    div.pad-10 form input{
        width:90%;
        margin-left:5px;
        width:70%;
        /* float:left; */
    }
    #sign_in_footer{
        padding:10px;
    }
    #answer{
        color:black;
        float:left;
        font-size:20px;
        font-weight: bold;
    }
    #send_form{
        background-color: red;
        display: flex;
        justify-content:left;
        padding:10px 0px 0px 5px;
        background-color: rgb(229,225,225);
    }
    #send{
        max-height:25px;
        margin-left:10px;
        margin-bottom:5px;
    }
    #answer + input{
        width:50%;
        /* margin-top:-10px; */
    }
    #nav{
        font-size:15px;
        /* margin-left:20%; */
        font-weight: bold;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* orange */
    body{
        background-color:aliceblue;
    }
    body{
        margin:0% 10% 50% 10%;
    }

    #test li{
        margin-bottom:20px;
    }
    #options{
        display:none;
    }
    
    #form-field{
        position:relative;
        margin:5% 25%;
        /* background-color: aliceblue; */
        /* background-color: red; */
        text-align: center;
        padding: 0px;
        display:flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height:300px;
        /* border:1px solid green; */
    }
    
    #form-field img{
        width:100%;
        height:300px;
        /* position: absolute; */
        opacity:0.1;
    }
    #section{
        position:absolute;
        width:80%;
        /* height:auto; */
        /* background-color:red; */
        text-align: center;
        padding: 10px;
        /* overflow: scroll; */
    }

    #section p, #section form{
        text-align:center;
        /* color:green; */
    }
    #name{
        font-family:'Courier New', Courier, monospace;
        font-weight: 900; width:100%;
        /* border:1px solid blue; */
        margin-bottom: 20px;
    }
    div.pad-10 form{
        background-color:none;
    }
    div.pad-10 form input{
        width:80%;
    }
    #submit{
        text-align: center;
        padding:10px;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    #send{
        display:none;
    }
    #section input{
        width:100%;
        border:1px solid blue;
        margin-bottom: 20px;
    }
    
    form p{
        /* font-size:100px; */
        padding: 0px;
        margin: 0px;
    }
    
    .button{
        width:50%;
        background-color: green; 
        padding:5px 10px;
        border-radius:10px;
        color:whitesmoke;
        border:1px solid black;
        cursor: pointer;
        font-weight: bold;
    }
    #logout{
        background-color:  rgb(243, 7, 7);
        padding:5px 10px;
        margin-left:10px;
        text-align: center;
        border:1px solid black;
        color:white;
    }

    #nav{
        font-size:15px;
        font-weight: bold;
    }

    .div-bg{
        background-color:  rgb(16, 16, 16);
        border:1px solid white;
    }
    .foot{
        margin-top:10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* yellow */
    body{
        background-color:aliceblue;
    }
    #form-field{
        position:relative;
        margin:1% 25%;
        width:50%;
        background-color:aliceblue;
        text-align: center;
        padding: 0px;
        display:flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* height:1000px; */
        height: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* green */
    body{
        background-color:aliceblue;
    }
    body{
        margin-top:0px;
        margin-bottom:0px;
        margin-left:0%;
        margin-right:0%;
        width: 100%;
        margin-right:500px;
    }
    #scroll-div{
        width: 100%;
    }

    #form-field{
        position:relative;
        margin:0%;
        width:100%;
        background-color:aliceblue;
        /* background-color: red; */
        text-align: center;
        padding: 0px;
        display:flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height:1000px;
    }
    #form-field img{
        width:100%;
        height:1000px;
        position: absolute;
        opacity:0.2;
    }
    #section{
        position:absolute;
        width:80%;
        height:inherit;
        /* background-color:red; */
        text-align: center;
        padding: 10px;
        /* overflow: scroll; */
    }
    #name{
        font-size:90px;
        font-family:'Courier New', Courier, monospace;
        font-weight: 900;
        color:black;
        margin-bottom:100px;
    }
    
    #section form{
        /* background-color: blue; */
        height:100%;
        padding:10px;
        justify-content: space-evenly;
        font-size: 100px;
    }
    
    #section input{
        width:80%;
        height:10%;
        border:3px solid blue;
        font-size:40px;
        /* margin-top: 0px; */
        margin-bottom: 20px;
    }
    
    form p{
        /* font-size:100px; */
        padding: 0px;
        margin: 0px;
    }
    
    .button{
        position: relative;
        width:50%;
        height:10%;
        background-color: green; 
        padding:5px 10px;
        border-radius: 10px;
        color:whitesmoke;
        border:1px solid black;
        cursor: pointer;
        font-size:50%;
    }
    #logout{
        background-color: rgb(243, 7, 7);
        padding:5px 10px;
        margin-left:10px;
        text-align: center;
        border:1px solid black;
        color:white;
    }

    #nav{
        font-size:15px;
        font-weight: bold;
    }
    #AEESSUI {
        font-size:50px;
        color: green;
        border: 1px solid white;
        padding: 3px 5px 3px 5px;
        font-weight: bold;
    }
    #aee_logo{
        position: relative;
        max-height:200px;
        float: left;
    }
    #logo_word{
        position: absolute;
        top:140px;
        font-size:40px;
        font-style: italic;
        font-weight: bold;
    }
    footer.mt-10 div.pad-10{
        padding:0px 30px;
    }
    footer.mt-10 div.pad-10 span,h2,p,h3,form #answer{
        font-size: 60px;
    }
    footer.mt-10 div.pad-10 form input{
        height:40px;
        width:50%;
        margin-bottom:30px;
        padding: 10px;
    }
    div.foot div p{
        font-size:40px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        margin:0% 5% 50% 5%;
        width: 90%;
        padding: 0;
    }
    /* brown */
    body{
        background-color:aliceblue;
    }

    #sec-test li{
        display:inline;
    }
    #form-field{
        position:relative;
        /* margin:5% 10%; */
        width:100%;
        background-color:aliceblue;
        /* background-color: red; */
        text-align: center;
        padding: 0px;
        display:flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height:1000px;
    }
    #form-field img{
        width:100%;
        height:1000px;
        position: absolute;
        opacity:0.2;
    }
    #section{
        position:absolute;
        width:80%;
        height:inherit;
        /* background-color:red; */
        text-align: center;
        padding: 10px;
        /* overflow: scroll; */
    }
    #name{
        font-size:40px;
        font-family:'Courier New', Courier, monospace;
        font-weight: 900;
        color:black;
        margin-bottom:100px;
    }
    
    #section form{
        /* background-color: blue; */
        height:100%;
        padding:10px;
        justify-content: space-evenly;
        font-size:50px;
    }
    
    #section input{
        width:50%;
        height:5%;
        border:3px solid blue;
        font-size:30px;
        /* margin-top: 0px; */
        margin-bottom: 20px;
    }
    #section input:focus{
        border:1px solid red;
    }
    
    form p{
        /* font-size:100px; */
        padding: 0px;
        margin: 0px;
    }
    
    .button{
        position: relative;
        width:50%;
        height:10%;
        background-color: green; 
        padding:5px 10px;
        border-radius: 15px;
        color:whitesmoke;
        border:1px solid black;
        cursor: pointer;
        font-size:50%;
    }
    #logout{
        background-color: rgb(243, 7, 7);
        padding:5px 10px;
        margin-left:10px;
        text-align: center;
        border:1px solid black;
        color:white;
    }

    #nav{
        font-size:15px;
        font-weight: bold;
    }
    #AEESSUI {
        font-size:50px;
        color: green;
        border: 1px solid white;
        padding: 3px 5px 3px 5px;
        font-weight: bold;
    }
    #aee_logo{
        position: relative;
        max-height:200px;
        float: left;
    }
    #logo_word{
        position: absolute;
        top:140px;
        font-size:40px;
        font-style: italic;
        font-weight: bold;
    }
    footer.mt-10 div.pad-10{
        padding:0px 30px;
    }
    footer.mt-10 div.pad-10 span,h2,p,h3,form #answer{
        font-size: 60px;
    }
    footer.mt-10 div.pad-10 form input{
        height:40px;
        width:50%;
        margin-bottom:30px;
        padding: 10px;
    }
    div.foot div p{
        font-size:40px;
    }
}

@media only screen and (min-width:3000px) {
    body{
        background-color:aliceblue;
        /* margin:0% 25%; */
        margin:0% 25% 50% 0%;
        width:50%;
        /* overflow: auto; */
    }
    #form-field{
        position:relative;
        /* margin:5% 10%; */
        width:100%;
        background-color:aliceblue;
        /* background-color: red; */
        text-align: center;
        padding: 0px;
        display:flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height:1000px;
    }
}





