

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width:600px) {
    /* red */
    body{
        background-color:aliceblue;
    }
    #help_header{
        color:green;
        background-color:rgb(229, 225, 225);
        padding:20px 20px;
        border:3px solid green;
    }
    #help_AEESSUI{
        color:green;
        border:none;
        font-size: 20px;
        padding:0px;
        font-weight: bold;
    }
    #help_go_to_homepage{
        color:white;
        font-size: 14px;
        font-weight: bold;
        float:right;
        cursor:pointer;
        text-decoration: none;
    }
    #home_logo{
        max-height:20px;
    }
    #help_form input{
        border:1px solid black;
        padding:5px;
        font-size:15px;
    }

    .body {
        padding: 10px;
    }
    .center{
        text-align: center;
    }
    .flex{
        display: flex;
        flex-basis: 100%;
        flex-wrap:wrap;
        /* background-color: red; */
    }
    .bold{
        font-weight:bold;
    }
    Article{
        background-color:none;
        margin-top: -10px;
    }
    h3{
        padding:10px;
        background-color:rgb(153, 216, 44);
    }
    hr{
        width:100%;
    }
    /* .section:hover {
        padding: 5px 10px;
        background-color:rgb(188, 221, 188);
    } */
    .section{
        padding: 5px 10px;
        margin-top:10px;
        /* background-color: red; */
    }
    .section-l{
        /* position:relative; */
        background-color:none;
        flex-basis:100%;
        margin-bottom:10px;
    }
    .section-r{
        background-color:none;
        flex-basis:100%;
    }
    .section-cell{
        border:1px solid green;
        margin-top:20px;
        padding: 0px 10px;
        border-radius: 5px;
        height:100px;
        overflow: auto;
    }
    .section-cell a{
        text-decoration: none;
        color:black;
        font-size: 20px;
    }
    .section:hover {
        /* padding: 0px 0px 20px; */
        /* background-color: #bac5c3; */
        border-radius: 10px;
    }
    .contents {
        background-color: none;
        /* height: auto; */
        margin-bottom: 10px;
        display:flex;
        flex-basis: 100%;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }
    
    #about_AEESSUI {
        color: green;
        border: 1px solid green;
        padding: 3px 5px 3px 5px;
        font-weight: bold;
        flex-basis: 100%;
        text-align: center;
    }
    
    .contents #close {
        background-color: rgb(196, 234, 196);
        color: red;
        font-size: 10px;
        padding: 5px 10px 5px 10px;
        border: 1px solid #111;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
    }
    
    #btn_space {
        float: right;
        visibility: hidden;
        position: absolute;
    }
    
    .contents #about_search {
        /* float: right; */
        background-color:  rgb(196, 234, 196);
        color:  black;
        font-size: 10px;
        padding: 5px 10px 5px 10px;
        border: 1px solid  #111;
        font-weight: bold;
        flex-basis:30%;
        text-align: center;
        text-decoration: none;
    }
    
    hr {
        border: 0.5px solid green;
    }
    
    .fs-15 {
        font-size: 15px;
    }
    
    .fs-15 a {
        background-color:rgb(80, 96, 80);
        border: 1px solid transparent;
        display: flex;
        padding: 0px 10px 0px 20px;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    
    .fs-15 a:hover {
        display:block ;
        border: 1px solid white;
        color: white;
        background-color:green;
    }
    
    #elements {
        padding: 10px 0px 0px 20px;
        font-size: 10px;
    }
    
    .sub-elements {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        background-color: none;
        padding: 5px 0px 1px 0px;
    }
    
    .sub-elements a {
        text-decoration: none;
        color:purple;
        font-weight: bold;;
        cursor: pointer;
    }
    
    .sub-elements a:hover {
        /* background-color: rgb(33, 33, 69); */
        background-color: aliceblue;
        border-right:1px solid green;
        border-left:1px solid green;
        border-bottom:1px solid green;
        border-top:5px solid green;
        font-weight: bold;
        font-size:15px;
        color: green;
        cursor: pointer;
        padding: 10px;
    }
    
    .sub-elements-l {
        display: flex;
        flex-basis: 50%;
        background-color: none;
        /* color: white; */
        margin-top: -5px;
    }
    
    .sub-elements-r {
        display: flex;
        flex-basis: 40%;
        background-color: #dddddd;
        /* color: white; */
        flex-wrap: wrap;
        overflow: auto;
        padding: 5px 0px 5px 5px;
        margin-top: -5px;
    }
    #search_ul{
        background-color: #dddddd;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* orange */
    body{
        background-color:aliceblue;
    }
    .center{
        text-align: center;
    }
    #help_header{
        color:green;
        background-color:rgb(229, 225, 225);
        padding:20px 20px;
        border:3px solid green;
    }
    #help_AEESSUI{
        color:green;
        border:none;
        font-size:30px;
        padding:0px;
        font-weight: bold;
    }
    #help_get_all{
        font-size:25px;
        font-weight:bold;
    }
    #help_go_to_homepage{
        color:white;
        font-size: 14px;
        font-weight: bold;
        float:right;
        cursor:pointer;
        text-decoration: none;
    }
    #help_form input{
        border:1px solid black;
        height:40px;
        padding:0px;
        font-size:17px;
        width:50%;
    }
    #help_form input:focus{
        border:1px solid black;
        height:40px;
        padding:5px;
        font-size:25px;
        width:50%;
    }
    .flex{
        margin-bottom:20px;
    }
    .section-l p.center{
        font-size:30px;
    }
    .section-l a{
        text-decoration: none;
        color:black;
        font-size:27px;
    }
    .body {
        padding: 10px;
    }
    .section{
        padding: 5px 10px;
        margin-top:10px;
        /* background-color: red; */
    }
    .section-l{
        position:relative;
        background-color:none;
        width:65%;
        height:1200px;
        overflow: auto;
    }
    .section-r{
        position:absolute;
        top:300px;
        background-color:transparent;
        overflow:auto;
        margin-left: 70%;
        width:24%;
        height:400px;
        border:1px solid green;
        border-radius:5px;
    }
    .section-r{
        font-size:larger;
    }
    .section-cell{
        border:1px solid green;
        margin-top:20px;
        padding: 20px 10px;
        border-radius: 5px;
    }
    .section-cell:last-child{
        border:1px solid red;
        margin-bottom: 10px;
    }
    .section:hover {
        /* padding: 5px 10px; */
        background-color: #bac5c3;
        border-radius: 10px;
    }
    .align-left{
        text-align:left;
    }
    Article:last-child{
        border-bottom:3px solid red;
    }
    .contents{
        background-color: none;
        height: auto;
        margin-bottom: 10px;
    }
    
    #AEESSUI {
        color: green;
        border: 1px solid green;
        padding: 3px 5px 3px 5px;
        font-weight: bold;
    }
    
    .contents #close {
        float: right;
        background-color:  rgb(196, 234, 196);
        color: red;
        font-size: 10px;
        padding: 5px 10px 5px 10px;
        border: 1px solid #111;
        font-weight: bold;
        margin-right: 20px;
        text-decoration: none;
    }
    
    #btn_space {
        float: right;
        visibility: hidden;
    }
    
    .contents #about_search {
        float: right;
        background-color:  rgb(196, 234, 196);
        color: black;
        font-size: 10px;
        padding: 5px 10px 5px 10px;
        border: 1px solid #111;
        font-weight: bold;
    }
    
    hr {
        border: 0.5px solid green;
    }
    
    .fs-15 {
        font-size: 15px;
    }
    
    .fs-15 a {
        background-color:rgb(80, 96, 80);
        border: 1px solid transparent;
        display: flex;
        padding: 0px 10px 0px 20px;
        color: white;
        cursor: pointer;
        text-decoration: none;
        border: 1px solid transparent;
    }
    
    .fs-15 a:hover {
        display:block ;
        border: 1px solid white;
        color: white;
        background-color:green;
    }
    
    #elements {
        padding: 10px 0px 0px 20px;
        font-size: 10px;
    }
    
    .sub-elements {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        background-color: none;
        padding: 5px 0px 1px 0px;
    }
    
    .sub-elements a {
        text-decoration: none;
        color:  purple;
        font-weight: bold;;
        cursor: pointer;
    }
    
    .sub-elements a:hover {
        /* background-color: rgb(33, 33, 69); */
        background-color: aliceblue;
        border-right:1px solid green;
        border-left:1px solid green;
        border-bottom:1px solid green;
        border-top:5px solid green;
        font-weight: bold;
        font-size: 20px;
        color: green;
        cursor: pointer;
        padding: 10px;
    }
    
    .sub-elements-l {
        display: flex;
        flex-basis: 50%;
        background-color: none;
        /* color: white; */
        margin-top: -5px;
    }
    
    .sub-elements-r {
        display: flex;
        flex-basis: 40%;
        background-color: #dddddd;
        /* color: red; */
        flex-wrap: wrap;
        overflow: auto;
        padding: 5px 0px 5px 5px;
        margin-top: -5px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* yellow */
    body{
        background-color:aliceblue;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* green */
    body{
        background-color: aliceblue;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* brown */
    body{
        background-color:aliceblue;
    }
    .body {
        padding: 10px;
    }
    
    .section:hover {
        padding: 5px 10px;
        background-color:rgb(188, 221, 188);
    }
    .contents {
        background-color: none;
        height: auto;
        margin-bottom: 30px;
    }
    
    #AEESSUI {
        font-size: 50px;
        color: green;
        border: 1px solid green;
        padding: 3px 5px 3px 5px;
        font-weight: bold;
    }
    
    .contents #close {
        float: right;
        background-color: rgb(196, 234, 196);
        color: red;
        font-size: 10px;
        padding: 5px 10px 5px 10px;
        border: 1px solid  #111;
        font-weight: bold;
        font-size: 50px;
    }
    
    
    .contents #search {
        float: right;
        background-color: rgb(196, 234, 196);
        color:  black;
        font-size: 10px;
        padding: 5px 10px 5px 10px;
        border: 1px solid #111;
        font-weight: bold;
        font-size: 50px;
    }
    
    
    .fs-15 {
        font-size: 50px;
    }
    
    
    
    #elements {
        padding: 10px 0px 0px 20px;
        font-size: 50px;
    }
    
    .sub-elements {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        background-color: none;
        padding: 5px 0px 1px 0px;
        /* font-weight: bold; */
    }
    
    .sub-elements a {
        text-decoration: none;
        color:  purple;
        cursor: pointer;
    }
    
    .sub-elements a:hover {
        /* background-color: rgb(33, 33, 69); */
        /* font-weight: bold; */
        background-color: aliceblue;
        border-right:1px solid green;
        border-left:1px solid green;
        border-bottom:1px solid green;
        border-top:5px solid green;
        font-size: inherit;
        color: green;
        cursor: pointer;
        padding: 10px;
    }
    
    .sub-elements-l {
        display: flex;
        flex-basis: 50%;
        background-color: none;
        /* color: white; */
        margin-top: -5px;
    }
    
    .sub-elements-r {
        display: flex;
        flex-basis: 40%;
        background-color: #dddddd;
        /* color: white; */
        flex-wrap: wrap;
        overflow: auto;
        padding: 5px 0px 5px 5px;
        margin-top: -5px;
    }
}

@media only screen and (min-width:3000px) {
    body{
        margin-right:50%;
        /* overflow: auto; */
    }
}