

table{
    /* background-color: bisque; */
    border-collapse: collapse;
    width:100%;
}

thead{
    background-color: green;
    color:white;
    /* font-size: 20px; */
}
th, td{ 
    text-align: left;
    padding: 8px;
}

tbody tr:nth-child(even){
    background-color: #f2f2f2;
}
tbody tr:nth-child(odd){
    background-color:rgb(196, 234, 196);
}